li.nav-item Button {
    min-width: -webkit-fill-available;
}

.nav-link:focus,
.nav-link:hover {
    color: white !important;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: #242323;
}

#navItems.nav-link.active,
#navItems.show>.nav-link {
    background-color: inherit;
    padding: 7px;
}

.nav-pills .nav-link {
    color: #bfbdbd;
    padding: 6px;
    font-size: smaller;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 3px;
    width: auto;
}

.nav-dark-light li {
    width: 100px;
    margin: 1px;
}

.toggle-icon::after {
    display: none;
}

.user-profile-dropdown-bg-btn a.dropdown-item:focus,
a.dropdown-item:hover {
    background-color: inherit;
}


.sidebar-button-bg {
    background-color: #5c5c5c;
}

.sidebar-user-image {
    width: 30px;
    height: 30px;
}

.sidebar-button-profile-text {
    font-size: .8rem !important;
}

.sidebar-button-profile-text-sm {
    font-size: .6rem !important;
    color: #D6D6D6;
}

.sidebar-button-bg,
.sidebar-button-bg:hover,
.sidebar-button-bg:active,
.sidebar-button-bg:focus-visible {
    background-color: #5c5c5c !important;
    font-size: x-small;
}

.sidebar-dark-light-tabs-bg .tab-content {
    display: none !important;
}

.sidebar-dark-light-tabs {
    --bs-nav-tabs-border-width: none;
}

.sidebar-dark-light-tabs-bg {
    background-color: #5c5c5c !important;
    font-size: small;
}

.chat-list-math {
    background-color: #bfbdbd;
    border: 1px solid #bfbdbd;
    color: #bfbdbd;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.chat-list-architecture {
    background-color: #9a45f5;
    border: 1px solid #bfbdbd;
    color: #9a45f5;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.chat-list-coading{
    background-color: red;
    border: 1px solid #bfbdbd;
    color: red;
    width: 14px;
    height: 14px;
    display: inline-block;
}


.flex-column .chat{
    color: cornflowerblue;
}

.flex-column .search{
    color: chartreuse;
}

.flex-column .manage{
    color: darkorchid;
}

.flex-column .updates{
    color: crimson;
}

.flex-column .settings{
    color: blueviolet;
}

.flex-column .audio-library{
    color: burlywood;
}

.flex-column .image-library{
    color: darkorchid;
}

.flex-column .goal-management{
    color: blueviolet;
}

.flex-column .referal-management{
    color: cyan;
}