li.nav-item Button {
    min-width: -webkit-fill-available;
}

.nav-link:focus,
.nav-link:hover {
    color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #474646;
    padding: 4px;
}

.nav-pills .nav-link {
    color: #bfbdbd;
    padding: 4px;
    font-size: smaller;
}

.tabs-button .nav-item button {
    padding: 5px;
    width: 187px;
    border-radius: 10px;
}

.tabs-button button.nav-link,
.tabs-button button.nav-link:focus,
.tabs-button button.nav-link:hover {
    color: black !important;
}

.chat-button button.nav-link:focus,
.chat-button button.nav-link:hover {
    color: black !important;
    background-color: #f7f7f7;
}

.chat-button button.nav-link {
    color: black;
    background-color: white;
    margin: 5px;
    border-radius: 22px;
}

#dropdown-custom-components::after,
#dropdown-custom-components {
    content: none;
    background-color: black;
    width: 40px;
    height: 40px;
    padding: 4px;
    font-size: large;
    color: #ffffff;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 3px;
    width: auto;
}

.chat-field-arrow {
    background-color: dodgerblue;
    color: white;
    position: relative;
    right: 7%;
    transform: translateX(-50%);
    z-index: 999;
}

.nav-dark-light li {
    width: 100px;
    margin: 4px;
}

.toggle-icon::after {
    display: none;
}

.profile-dropdown-bg button,
.profile-dropdown-bg button:hover,
.profile-dropdown-bg button:active {
    background-color: inherit !important;
    padding: 0;
    border: none;
}

.profile-dropdown {
    width: 50px;
    height: 50px;
}

.user-profile-dropdown-bg {
    background-color: dodgerblue;
}

.user-profile-dropdown-bg-btn a.dropdown-item:focus,
a.dropdown-item:hover {
    background-color: inherit;
}