li.nav-item Button {
    min-width: -webkit-fill-available;
}

.nav-link:focus,
.nav-link:hover {
    color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #474646;
    padding: 4px;
}

.nav-pills .nav-link {
    color: #bfbdbd;
    padding: 4px;
    font-size: smaller;
}

.tabs-button .nav-item button {
    padding: 5px;
    width: 187px;
    border-radius: 10px;
}

.tabs-button button.nav-link,
.tabs-button button.nav-link:focus,
.tabs-button button.nav-link:hover {
    color: black !important;
}

.chat-button button.nav-link:focus,
.chat-button button.nav-link:hover {
    color: black !important;
    background-color: #f7f7f7;
}

.chat-button button.nav-link {
    color: black;
    background-color: white;
    margin: 5px;
    border-radius: 22px;
}

#dropdown-custom-components::after,
#dropdown-custom-components {
    content: none;
    background-color: black;
    width: 40px;
    height: 40px;
    padding: 4px;
    font-size: large;
    color: #ffffff;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 3px;
    width: auto;
}

.chat-field-arrow {
    background-color: dodgerblue;
    color: white;
    position: relative;
    right: 7%;
    transform: translateX(-50%);
    z-index: 999;
}

.nav-dark-light li {
    width: 100px;
    margin: 1px;
}

.toggle-icon::after {
    display: none;
}

.profile-dropdown-bg button,
.profile-dropdown-bg button:hover,
.profile-dropdown-bg button:active {
    background-color: inherit !important;
    padding: 0;
    border: none;
}

.profile-dropdown {
    width: 50px;
    height: 50px;
}

.user-profile-dropdown-bg {
    background-color: dodgerblue;
}

.user-profile-dropdown-bg-btn a.dropdown-item:focus,
a.dropdown-item:hover {
    background-color: inherit;
}

.language-image-active,
.debate-image-add {
    padding: 10px;
    width: 50px;
    height: 50px;
}

.language-image-active-icon {
    position: absolute;
    top: 43px;
    left: 51px;
    color: green;
    z-index: 1;
}

.sidebar-button-bg {
    background-color: #5c5c5c;
}

.sidebar-user-image {
    width: 30px;
    height: 30px;
}

.sidebar-button-profile-text {
    font-size: .8rem !important;
}

.sidebar-button-profile-text-sm {
    font-size: .6rem !important;
    color: #D6D6D6;
}

.sidebar-button-bg,
.sidebar-button-bg:hover,
.sidebar-button-bg:active,
.sidebar-button-bg:focus-visible {
    background-color: #5c5c5c !important;
    font-size: x-small;
}

.sidebar-dark-light-tabs-bg .tab-content {
    display: none !important;
}

.sidebar-dark-light-tabs {
    --bs-nav-tabs-border-width: none;
}

.sidebar-dark-light-tabs-bg {
    background-color: #5c5c5c !important;
    font-size: small;
}